.corporate {
  flex-grow: 1;
  padding-right: 47px;
}

.corporate__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  font-family: $font-family__main;
  font-size: 14px;
  line-height: 24.64px;
  font-weight: 300;
  letter-spacing: 0.8px;
  list-style: none;
}

.corporate__item {
  min-width: 130px;
}

.corporate__icon {
  margin-top: 2px;
  margin-right: 15px;
}

.corporate__item .corporate__link {
  display: block;
  align-items: center;
  color: rgb(34, 31, 31);
}

.corporate__item span {
  display: inline-block;
  vertical-align: top;
}

.corporate__item--bus .corporate__icon {
  margin-top: 3px;
}

.corporate__item--canteen {
  margin-top: 1px;
  margin-left: 11px;
}

.corporate__item--canteen .corporate__icon {
  margin-right: 18px;
}

.corporate__item--location .corporate__icon {
  margin-top: 3px;
  margin-right: 16px;
}

.corporate__item--floors {
  margin-top: 1px;
  margin-left: 10px;
}
