.dear-employee__logo {
  margin-top: 2px;
  width: 55px;
  height: 16px;
}

.dear-employee__appeal {
  margin: 0;
  margin-top: 26px;
  padding-left: 2px;
  font-family: $font-family__main;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: rgb(127, 128, 133);
}
