.service__title {
  margin: 0;
  font-family: $font-family__main;
  font-size: 14px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: -0.1px;
  color: rgb(35, 31, 32);
}

.service__list {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  padding-left: 1px;
  list-style: none;
}

.service__link {
  font-family: $font-family__main;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: rgb(34, 31, 31);
}

.service__error {
  margin-top: 27px;
  padding-left: 2px;
  font-family: $font-family__main;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: rgb(128, 129, 133);
}
