.user {
  width: 342px;
}

.user__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  list-style: none;
}

.user__item--search {
  margin-top: -3px;
}

.user__item--search .user__link {
  display: block;
  font-family: $font-family__main;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
}

.user__item--search .user__icon {
  margin-top: 3px;
}

.user__item--search span {
  display: inline-block;
  margin-top: 3px;
  margin-left: 16px;
  color: rgb(129, 130, 133);
  vertical-align: top;
}

.user__item--mail {
  margin-left: 55px;
}

.user__item--mail .user__link {
  position: relative;
  display: block;
  font-size: 0;

  &::before {
    content: "12";
    position: absolute;
    top: -8px;
    left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 14px;
    font-size: 8px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: $background-color__square--dark;
    border-radius: 4px;
  }
}

.user__item--profile {
  margin-top: -7px;
  margin-left: 46px;
}

.user__item--profile .user__link {
  padding: 10px 22px 13px 6px;
  min-width: 142px;
  height: 40px;
  background-color: $background-color__button;
  box-sizing: border-box;
  border-radius: 20px;
}

.user__avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.user__item--profile span {
  padding-left: 9px;
  font-family: $font-family__main;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: rgb(35, 31, 32);
}
