.user {
  margin-left: auto;
  width: 382px;
}

.user__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 39px;
  list-style: none;
}

.user__item--search {
  position: relative;
  padding-left: 37px;
  font-family: $font-family__main;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: rgb(129, 130, 133);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: 16px;
    height: 16px;
    background-image: url("../img/user__icon--search@1x.png");
    background-size: cover;

    @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
      background-image: url("../img/user__icon--search@2x.png");
    }
  }
}

.user__item--mail {
  margin-left: 55px;
  width: 20px;
}

.user__item--mail .user__link {
  position: relative;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -1px;
    width: 23px;
    height: 16px;
    background-image: url("../img/user__icon--mail@1x.png");
    background-size: cover;
  }

  &::after {
    content: "12";
    position: absolute;
    top: -22px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 14px;
    font-size: 8px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: $background-color__square--dark;
    border-radius: 4px;
  }
}

.user__item--profile {
  margin-top: -7px;
  margin-left: 48px;
}

.user__item--profile .user__link {
  padding: 10px 22px 13px 6px;
  min-width: 142px;
  height: 40px;
  background-color: $background-color__button;
  box-sizing: border-box;
  border-radius: 20px;
}

.user__avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.user__link span {
  padding-left: 9px;
  font-family: $font-family__main;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: rgb(35, 31, 32);
}
