@font-face {
  font-family: "Pragmatica";
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/pragmatica_light.woff2") format("woff2"),
    url("../fonts/pragmatica_light.woff") format("woff");
}

@font-face {
  font-family: "Pragmatica";
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/pragmatica_regular.woff2") format("woff2"),
    url("../fonts/pragmatica_regular.woff") format("woff");
}

@font-face {
  font-family: "Pragmatica";
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/pragmatica_medium.woff2") format("woff2"),
    url("../fonts/pragmatica_medium.woff") format("woff");
}

@font-face {
  font-family: "Pragmatica";
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/pragmatica_book-webfont.woff2") format("woff2"),
    url("../fonts/pragmatica_book-webfont.woff") format("woff");
}

@font-face {
  font-family: "Pragmatica";
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/Pragmatica-Bold-Cyrillic_36309.woff2") format("woff2"),
    url("../fonts/Pragmatica-Bold-Cyrillic_36309.woff") format("woff");
}

@font-face {
  font-family: "Pragmatica";
  font-weight: 900;
  font-display: swap;
  src:
    url("../fonts/Pragmatica-Black_36307.woff2") format("woff2"),
    url("../fonts/Pragmatica-Black_36307.woff") format("woff");
}
