html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  // background-image: linear-gradient(rgb(246, 246, 246), rgb(246, 246, 246));
  // background-size: 100% * 840 / 1280 670px;
  // background-repeat: no-repeat;
}

.container {
  min-width: 1230px;
  padding: 0 100% * 25 / 1280;
  box-sizing: content-box;
}
