html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  min-width: 1230px;
  padding: 0 25px;
  box-sizing: content-box;
}

main {
  margin-top: -134px;
  padding-top: 181px;
  background-image: linear-gradient(rgb(246, 246, 246), rgb(246, 246, 246));
  background-size: 840px 671px;
  background-repeat: no-repeat;
}

@media (min-width: 1280px) {
  .container {
    padding: 0 100vw * 25 / 1280;
  }

  main {
    background-size: calc(840px + 100vw - 1280px) 671px;
  }
}

main > .container {
  display: grid;
  grid-template-columns: auto 460px;
  grid-template-rows: minmax(350px auto) minmax(488px auto);
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    background-image: linear-gradient(rgb(246, 246, 246), rgb(246, 246, 246));
    background-size: 840px 685px;
    background-repeat: no-repeat;
  }

  main > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
  }
}
