$font-family__main: "Pragmatica", "Arial", sans-serif;

$background-color__main: rgb(255, 255, 255);
$background-color__aux: rgb(246, 246, 246);
$background-color__button: rgb(253, 218, 157);
$background-color__square--light: rgb(252, 181, 59);
$background-color__square--medium: rgb(245, 127, 41);
$background-color__square--dark: rgb(238, 45, 36);

$retina__dpi: 144dpi;
$retina__dppx: 1.5dppx;
